n8n/leni-cheer-dm-v2.json
{
  "name": "leni-cheer-dm-v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *",
              "notes": "UTC 22:00 = KST 07:00, runs 2h before 09:00 morning send slot"
            },
            {
              "field": "cronExpression",
              "expression": "0 8 * * *",
              "notes": "UTC 08:00 = KST 17:00, runs 2h before 19:00 evening send slot"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Get Incomplete Sessions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "c4XNXQBW2Z7gkFSC",
          "name": "supabase-nudge-n8n_worker"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.auth_user_id,\n  s.session_id,\n  s.product_session_id,\n  s.status,\n  ps.id        AS ps_id,\n  ps.session_number,\n  ps.title     AS ps_title,\n  lp.id        AS product_id,\n  lp.name      AS product_name,\n  lp.meta      AS product_meta,\n  lp.slug      AS product_slug,\n  pr.discord_id,\n  pr.display_name,\n  pr.timezone,\n  pr.discord_dm_unsubscribed\nFROM nv2_sessions s\nJOIN nv2_product_sessions  ps ON ps.id  = s.product_session_id\nJOIN nv2_learning_products lp ON lp.id  = ps.product_id\nJOIN nv2_profiles          pr ON pr.auth_user_id = s.auth_user_id\nWHERE s.status IN ('pending', 'in_progress')\n  AND s.auth_user_id NOT LIKE 'anon:%'\n  AND (pr.discord_id IS NOT NULL AND pr.discord_dm_unsubscribed = false)\nORDER BY s.auth_user_id, s.created_at DESC",
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "// Determine slot type from UTC hour (no Merge node needed)\n// UTC 22 = KST 07:00 → morning slot (send at 09:00 KST)\n// UTC 08 = KST 17:00 → evening slot (send at 19:00 KST)\nconst utc_hour = new Date().getUTCHours();\nconst is_morning = (utc_hour >= 20 && utc_hour <= 23);\nconst slot_type = is_morning ? 'morning' : 'evening';\nconst slot_hour = is_morning ? 9 : 19;\n\n// Dedup by auth_user_id — keep one session per user\nconst seen = new Set();\nconst result = [];\n\nfor (const item of $input.all()) {\n  const s = item.json;\n  const profile = s.nv2_profiles;\n  const product_session = s.nv2_product_sessions;\n  const product = product_session?.nv2_learning_products;\n\n  // Skip anonymous sessions\n  if (s.auth_user_id?.startsWith('anon:')) continue;\n\n  // Skip if no Discord account or DM unsubscribed\n  if (!profile?.discord_id || profile.discord_dm_unsubscribed) continue;\n\n  // Dedup — keep first (most recent due to order=updated_at.desc)\n  if (seen.has(s.auth_user_id)) continue;\n  seen.add(s.auth_user_id);\n\n  const meta = typeof product?.meta === 'string'\n    ? JSON.parse(product.meta)\n    : (product?.meta ?? {});\n\n  result.push({\n    json: {\n      slot_type,\n      slot_hour,\n      auth_user_id: s.auth_user_id,\n      session_id: s.session_id,\n      product_session_id: s.product_session_id,\n      discord_id: profile.discord_id,\n      display_name: profile.display_name || '학습자',\n      timezone: profile.timezone || 'Asia/Seoul',\n      session_number: product_session?.session_number ?? 1,\n      session_label: `Session ${product_session?.session_number ?? ''}`.trim(),\n      product_id: product?.id,\n      product_name: product?.name ?? '',\n      product_slug: product?.slug ?? '',\n      is_story: !!(meta?.story),\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Filter and Dedup Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Loop Over Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        300
      ]
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Prepare Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        200
      ],
      "parameters": {
        "jsCode": "\nconst user = $input.item.json;\n\nconst utc_hour = new Date().getUTCHours();\nconst is_morning = (utc_hour >= 20 && utc_hour <= 23);\nconst slot_type = user.slot_type ?? (is_morning ? 'morning' : 'evening');\nconst slot_hour = user.slot_hour ?? (is_morning ? 9 : 19);\n\nconst timezone   = user.timezone ?? 'Asia/Seoul';\nconst auth_user_id      = user.auth_user_id;\nconst product_session_id = user.product_session_id;\n\nconst today_local = new Date().toLocaleDateString('en-CA', { timeZone: timezone });\nconst today_utc_start = new Date(`${today_local}T00:00:00.000Z`).toISOString();\nconst hour_tag = `cheer:${String(slot_hour).padStart(2, '0')}`;\n\nconst is_story = (() => {\n  const meta = typeof user.product_meta === 'string'\n    ? JSON.parse(user.product_meta)\n    : (user.product_meta ?? {});\n  return !!meta?.story;\n})();\n\nconst product_name = user.product_name ?? '';\nconst session_label = `Session ${user.session_number ?? ''}`;\n\n// SQL: dedup check\nconst dedup_sql = `SELECT schedule_id FROM nv2_schedules\nWHERE auth_user_id = '${auth_user_id}'\n  AND schedule_type = 'cheer'\n  AND message_body LIKE '${hour_tag}|%'\n  AND created_at >= '${today_utc_start}'\nLIMIT 1`;\n\n// SQL: completed session count\nconst count_sql = `SELECT COUNT(*) AS completed_count FROM nv2_sessions\nWHERE auth_user_id = '${auth_user_id}'\n  AND status = 'completed'`;\n\n// SQL: learning content preview\nconst content_sql = is_story\n  ? `SELECT c.card_type, c.card_data\n     FROM nv2_product_session_stages pss\n     JOIN nv2_stages st ON st.id = pss.stage_id\n     JOIN nv2_cards  c  ON c.stage_id = st.id\n     WHERE pss.product_session_id = '${product_session_id}'\n       AND st.stage_type = 'story'\n       AND c.card_type   = 'story'\n     LIMIT 1`\n  : `SELECT st.id AS stage_id, c.card_type, c.card_data\n     FROM nv2_product_session_stages pss\n     JOIN nv2_stages st ON st.id = pss.stage_id\n     JOIN nv2_cards  c  ON c.stage_id = st.id\n     WHERE pss.product_session_id = '${product_session_id}'\n       AND st.stage_type = 'learning'\n       AND c.card_type IN ('title', 'description')\n     ORDER BY pss.display_order ASC, c.card_type ASC\n     LIMIT 10`;\n\nreturn [{\n  json: {\n    ...user,\n    slot_type,\n    slot_hour,\n    hour_tag,\n    today_local,\n    is_story,\n    product_name,\n    session_label,\n    dedup_sql,\n    count_sql,\n    content_sql,\n  }\n}];\n"
      }
    },
    {
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "Dedup Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "c4XNXQBW2Z7gkFSC",
          "name": "supabase-nudge-n8n_worker"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.dedup_sql }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Check Dedup Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "parameters": {
        "jsCode": "\nconst dedup_rows = $input.all();\n// If any row returned, this slot is already queued — skip\nif (dedup_rows.length > 0 && dedup_rows[0].json.schedule_id) {\n  return [];\n}\n// Pass through the prepared query data from Prepare Queries node\nconst user = $('Prepare Queries').item.json;\nreturn [{ json: user }];\n"
      }
    },
    {
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "Get Completed Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "c4XNXQBW2Z7gkFSC",
          "name": "supabase-nudge-n8n_worker"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.count_sql }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "Get Content Preview",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "c4XNXQBW2Z7gkFSC",
          "name": "supabase-nudge-n8n_worker"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $('Check Dedup Result').item.json.content_sql }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Build Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        200
      ],
      "parameters": {
        "jsCode": "\nconst user = $('Check Dedup Result').item.json;\n\n// Completed count\nconst count_rows = $('Get Completed Count').all();\nconst completed_count = parseInt(count_rows?.[0]?.json?.completed_count ?? '0', 10) || 0;\n\n// Content preview\nconst content_rows = $('Get Content Preview').all();\nlet preview_lines = '';\n\nif (user.is_story) {\n  const row = content_rows?.[0]?.json;\n  const card_data = typeof row?.card_data === 'string'\n    ? JSON.parse(row.card_data)\n    : (row?.card_data ?? {});\n  if (card_data.hook_text) {\n    preview_lines = `오늘의 이야기:\\n${card_data.hook_text}`;\n  }\n} else {\n  // Group cards by stage_id to pair title + description\n  const by_stage = {};\n  for (const row of content_rows) {\n    const r = row.json;\n    if (!by_stage[r.stage_id]) by_stage[r.stage_id] = {};\n    const cd = typeof r.card_data === 'string' ? JSON.parse(r.card_data) : (r.card_data ?? {});\n    by_stage[r.stage_id][r.card_type] = cd;\n  }\n  const words = [];\n  for (const [, cards] of Object.entries(by_stage)) {\n    const word    = cards['title']?.text ?? cards['title']?.front ?? '';\n    const meaning = cards['description']?.text ?? cards['description']?.back ?? '';\n    if (word && meaning) words.push(`• ${word} — ${meaning}`);\n    if (words.length >= 3) break;\n  }\n  preview_lines = words.join('\\n');\n}\n\nreturn [{\n  json: {\n    ...user,\n    completed_count,\n    preview_lines,\n  }\n}];\n"
      }
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\n\nconst system_prompt = `You are Leni, a 15-year-old German girl who studies languages alongside the user.\nTone: warm, bright, slightly playful. Korean 해요체 (존댓말). Plain text only, no markdown.\nMax 1~2 emojis per message. Each message max 4 lines.\nRespond ONLY with a JSON object containing exactly two keys: incomplete_message, complete_message.\nNo preamble, no explanation, no code fences. Just the raw JSON.`;\n\nconst user_prompt = `사용자 정보:\n- 이름: ${d.display_name}\n- 학습 상품: ${d.product_name}\n- 오늘 세션: ${d.session_label}\n- 전체 완료 세션 수: ${d.completed_count}\n- 발송 시간대: ${d.slot_type}\n\n오늘의 학습 콘텐츠 미리보기:\n${d.preview_lines || '(콘텐츠 준비 중)'}\n\n---\n\nincomplete_message 작성 조건:\n- 세션을 아직 시작하지 않은 사용자에게 보내는 메시지\n- 위 단어/표현 중 일부를 자연스럽게 포함\n- 학습 링크 클릭을 유도하되 강요하지 않음\n- 첫 줄이 가장 흥미로운 훅이 되도록\n\ncomplete_message 작성 조건:\n- 이미 오늘 세션을 완료한 사용자에게 보내는 메시지\n- slot_type이 \"morning\"이면: 오늘 배운 내용 중 단어/표현을 활용하는 팁 또는 복습 유도\n- slot_type이 \"evening\"이면: 내일 배울 것을 예고하는 내용 (위 단어들이 내일 나올 것처럼 자연스럽게)\n- 칭찬과 기대감을 함께 담을 것`;\n\nreturn [{\n  json: {\n    ...d,\n    system_prompt,\n    user_prompt,\n  }\n}];"
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Build OpenAI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_SECRET_NUDGE_LENI_CHAT }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }} },\n    { \"role\": \"user\",   \"content\": {{ JSON.stringify($json.user_prompt) }} }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"max_tokens\": 512,\n  \"temperature\": 0.85\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response and build the nv2_schedules row\nconst openai_res = $input.item.json;\nconst user = $('Build OpenAI Prompt').item.json;\n\n// Extract generated messages\nlet incomplete_message = '';\nlet complete_message = '';\ntry {\n  const content = openai_res.choices?.[0]?.message?.content ?? '{}';\n  const parsed = JSON.parse(content);\n  incomplete_message = (parsed.incomplete_message ?? '').trim();\n  complete_message = (parsed.complete_message ?? '').trim();\n} catch (e) {\n  return []; // skip on parse error\n}\n\nif (!incomplete_message || !complete_message) return [];\n\n// Build message_body: cheer:HH|product_name|session_label|incomplete_message|||complete_message\nconst message_body = [\n  `${user.hour_tag}|${user.product_name}|${user.session_label}|${incomplete_message}`,\n  complete_message,\n].join('|||');\n\n// Calculate scheduled_at: convert user's local slot_hour:00 to UTC\n// Strategy: find the UTC offset for the user's timezone at today's date\nconst target_local_iso = `${user.today_local}T${String(user.slot_hour).padStart(2, '0')}:00:00`;\nconst local_as_utc = new Date(target_local_iso + 'Z'); // treat as UTC first\nconst ref_local = new Date(new Date().toLocaleString('en-US', { timeZone: user.timezone }));\nconst tz_offset_ms = new Date().getTime() - ref_local.getTime();\nconst scheduled_at = new Date(local_as_utc.getTime() + tz_offset_ms).toISOString();\n\nconst nudge_origin = $env.NUDGE_SITE_URL ?? 'https://nudge.neowithai.com';\nconst delivery_url = `${nudge_origin}/sessions/${user.session_id}`;\n\nreturn [{\n  json: {\n    auth_user_id: user.auth_user_id,\n    schedule_type: 'cheer',\n    delivery_url,\n    message_body,\n    scheduled_at,\n  }\n}];"
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Parse Response and Build Schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Insert nv2_schedules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "c4XNXQBW2Z7gkFSC",
          "name": "supabase-nudge-n8n_worker"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO nv2_schedules\n  (auth_user_id, schedule_type, delivery_url, message_body, scheduled_at, status)\nVALUES\n  ('{{ $json.auth_user_id }}', 'cheer', '{{ $json.delivery_url }}', '{{ $json.message_body }}', '{{ $json.scheduled_at }}', 'pending')",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Incomplete Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Incomplete Sessions": {
      "main": [
        [
          {
            "node": "Filter and Dedup Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Dedup Users": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [
          {
            "node": "Prepare Queries",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Queries": {
      "main": [
        [
          {
            "node": "Dedup Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Check": {
      "main": [
        [
          {
            "node": "Check Dedup Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Dedup Result": {
      "main": [
        [
          {
            "node": "Get Completed Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Content Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Completed Count": {
      "main": [
        [
          {
            "node": "Build Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Preview": {
      "main": [
        [
          {
            "node": "Build Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Preview": {
      "main": [
        [
          {
            "node": "Build OpenAI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Parse Response and Build Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response and Build Schedule": {
      "main": [
        [
          {
            "node": "Insert nv2_schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert nv2_schedules": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "pinData": {},
  "versionId": "2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "n8nVersion": "2.x"
  },
  "id": "leni-cheer-dm-v2",
  "tags": [
    {
      "name": "nudge"
    },
    {
      "name": "leni"
    },
    {
      "name": "cheer-dm"
    }
  ],
  "staticData": null
}